

body {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
}

.container {
  margin: 0 auto;
  width: 940px;
}

h1 {
  font-family: Cuprum;
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.head-top {
  background-color: #293449;
  height: 42px;
}

.head-top a {
  color: #ffffff;
}

.head-element {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.logo,
.search {
  float: left;
}

.bookmarks,
.basket,
.checkout {
  float: right;
}

.head-main {
  background-color: #f1f5f7;
  width: auto;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-top: 40px;
  padding-right: 50px;
}

.head-info {
  float: left;
  width: 210px;
  color: #ee3643;
  font-style: italic;
}

.head-contacts {
  float: left;
  width: 270px;
  margin-right: 70px;
}

.head-contacts a {
  border: 3px solid white;
  color: #ee3643;
  text-decoration: none;
}

.head-contacts address {
  color: #32425c;
}

.user-buttons {
  display: none;
}

.user-block {
  float: right;
  width: 300px;
}

.user-block div {
  display: inline-block;
}

.head-menu {
  clear: both;
}

.head-menu ul {
  background-color: #32425c;
  margin: 0;
  padding: 0;
  list-style: none;
}

.head-menu li {
  display: inline;
}

.head-menu a {
  color: #ffffff;
  text-decoration: none;
}

main {
  background-color: #ffffff;
}

/* каталог */

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
}

.page-title {
  background-color: #f2f6f8;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

aside {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter span {
  display: block;
  background-color: #f7f3ec;
  padding: 15px;
}

.catalog {
  float: left;
  width: 700px;
}

.sort {
  background-color: #f7f3ec;
  padding: 15px;
  width: 660px;
  float: left;
}

.sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

.sort li {
  display: inline;
}

.sort-arrows {
  display: inline;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  display: inline;
}


/* главная страница */

.block-top {
  background-color: #f7f3ec;
}

.block-top h2 {
  display: inline-block;
  float: left;
}

.block-top a {
  display: inline-block;
  float: right;
}

.block-main {
  clear: both;
}

.promo {
  margin-top: 60px;
}

.promo-item {
  display: inline-block;
  width: 300px;
  height: 123px;
  font-size: 24px;
  vertical-align: top;
  float: right;
}

.promo .materials {
  background-color: #f6b22d;
}

.promo .tools {
  background-color: #4aafde;
}

.promo .machines {
  background-color: #cc79d1;
}

.promo .discount {
  background-color: #85d179;
}

.promo .shipping {
  background-color: #f6b22d;
}

.slider {
  width: 620px;
  height: 266px;
  float: left;
}

.item {
  width: 220px;
  height: 318px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  vertical-align: top;
}

.vendor-card {
  display: inline-block;
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  vertical-align: top;
}

.service-block {
  background-color: #f2f6f8;
  min-height: 522px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.service-description {
  width: 100%;
  min-height: 100px;
}

.label-block {
  float: left;
}

.label-block label {
  display: block;
  background-color: #32425c;
  widht: 240px;
  height: 60px;
  color: #ffffff;
}

.slides-block {
  float: right;
}

.guarantee,
.credit {
  display: none;
}

.btn {
  display: inline-block;
  background-color: #ee3643;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2px;
}

.btn a {
  color: #ffffff;
  text-decoration: none;
}

.buy,
.bookmark {
  text-align: center;
}

.info-perf {
  padding-top: 60px;
  padding-left: 130px;
  padding-bottom: 60px;
  margin-top: 60px;
  background-color: #f2f6f8;
}

.company-info {
  float: left;
  width: 530px;
}

.contacts {
  float: right;
  width: 300px;
}

.footer-top {
  background-color: #32425c;
}

.footer-company {
  float: left;
  width: 300px;
  color: #ffffff;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu {
  text-align: right;
  float: right;
}

.footer-menu ul {
  background-color: #32425c;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu li {
  display: inline;
}

.footer-menu-first a {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu-second a {
  color: #ffd180;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
  clear: both;
}

.copyright {
  float: left;
  width: 230px;
  color: #ffffff;
}

.social {
  float: left;
  width: 400px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.feedback {
  float: left;
  width: 130px;
  color: #ffffff;
}

.feedback a{
  color: #ffd180;
}

.developer {
  float: right;
  width: 130px;
  color: #ffffff;
}

.developer a {
  color: #ffd180;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}